$foreground-color: #656968;
$background-color: #ffffff;
$inverse-background-color: $foreground-color;
$inverse-foreground-color: $background-color;
$shadow-color: #848b8b;
$circut-color: #e6dfda;
$hlink-color: #2b5b59;

$border-radius: 3px;