* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'FantasqueSansMonoRegular';
    font-weight: normal;
    font-style: normal; 
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fffbef;
    transition: 0.8s all;
}

h1 {
    margin-bottom: 1.5%;
    color: #5c6a72;
    font-weight: normal;
}

.container {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.header-buttons{
    display: flex;
    align-items: center;
}

input {
    padding: 25px;
    color: #5c6a72;
    font-size: 1em;
    cursor: pointer;
    width: 65px;
    background-color: #f0f2d4;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 0.2em;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
    margin-bottom: 4px;
}

input[type="text"] {
    background-color: #ecf5ed;
    color: #708089;
    width: 222.5px;
}

#clear-button{
    color: #5c6a72;
    background-color: #f85552;
}

a {
    text-decoration: none;
    color: #5c6a72;
}

#github-logo {
    width: 30px;
    height: 30px;
}