.container {
  background-color: transparent;
  padding: 15px 0;
}

.name {
  margin-left: 5%;
  color: #ebdbb2
}

.occupation {
  margin-top: 8px;
  text-align: center;
  font-style: italic;
  color: #ebdbb2;
}